*{
    box-sizing: border-box;
}

/*---- Commun ----*/

body{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(26, 25, 25);
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.main{
    width: 1052px;
    margin-left: auto;
    margin-right: auto;
}

.container{
    text-align: center;

}
 
/*---- header ----*/

.header{
    background-color: rgb(245, 241, 237);
    width: 100%;
    margin: 0;
    padding: 0;
    height: 300px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(8, 1fr);
    
}

.logo{
    grid-column: 2 / span 2;
    grid-row: 3 / span 2;
    padding-top: 20px;
    border-left: 1px solid rgb(234, 159, 5);
    padding-left: 10px;
}
.logo-string span{
    color: rgb(234, 159, 5);
}
.logo-string{
    grid-column: 2 / span 2;
    grid-row: 4 / span 1;
    margin-top: 20px;
    color: grey;
    padding-left: 10px;
}

.container-panier{
   grid-column: 5 / span 3;
   grid-row: 2 / span 1;
   border: 2px solid grey;
   margin-bottom: 20px;

}
.header p{
    grid-row: 3 / span 1;
    grid-column: 7 /span 1;
    color: grey;
}
.icons{
    padding-right: 5px;
}
.link{
    padding: 0;
   margin: 0 40px;
   
}
.container-nav{
    grid-row: 4 / span 1;
    grid-column: 4 / span 4;
    margin-left: 60px;
    margin-top: 20px;
}
.nav{
    display: inline;
    padding: 5px;
    margin: 0 20px;
    text-decoration: none;
    color: grey;
    border-left: 2px solid grey;
}
.container-panier span{
    color: grey;
    font-size: medium;
}

/*---- Main ----*/
.main{
    background-color: rgb(245, 241, 237);;
}

.img-catalogue{
    display: flex;
    background-color: rgb(26, 25, 25);
    box-shadow: 2px 2px 2px rgb(19, 18, 18);
    margin-top: 20px;
    z-index: 100;
}

.main-photo{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

.gant{
    border: 2px solid rgb(51, 49, 49);
    margin-top: 20px;
    background-color: rgb(245, 241, 237);;
    box-shadow: 2px 2px 2px rgb(19, 18, 18);
}

.main-photo .gant:hover{
    transform: scale(1.1);
}

.vente{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.v{
    background-color: rgb(14, 13, 13);
    font-size: 0.8em;
    color: rgb(168, 163, 163);
    height: 30px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 2px rgb(34, 33, 33);
    text-shadow: 1px 2px 2px rgb(34, 33, 33);
}

.prixbarre{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-decoration-line: line-through;
    font-size: 1,5rem;
    padding-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.orange{
    color: rgb(199, 113, 81);
}

.pourcentage{
    width: 85px;
    height: 50px;
    line-height: 50px;
    background-color: rgb(14, 13, 13);
    box-shadow: 2px 2px 2px rgb(34, 33, 33);
    text-shadow: 2px 2px 2px rgb(199, 113, 81);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.prix{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    text-shadow: 2px 2px 2px rgb(199, 113, 81);
}

.photo{
    position: relative;
}

.etq{
    position: absolute;
    top: 10px;
    right: -20px;
    
}

.nav-bottom a{
    color: rgb(27, 27, 26);
    text-decoration: none;
    justify-content: space-around;
    font-size: 1.6rem bold;
    margin: 20px;
    background-color: rgb(245, 241, 237);;
}

.style{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(14, 13, 13);
    text-align: center;
    width: 100%;
    z-index: 100;
}

/*---- FOOTER ----*/

.footer-article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(212, 208, 208);
    margin: 50px;
}

.vignette p{
    color: rgb(139, 139, 134);
}

.vignette a{
    justify-content: space-between;
    padding: 40px;

}




